{% extends "base.html" %}
{% load extras %}
{% load text_filters %}

{% block title %}Tags for: {{ requested_user }} – CourtListener.com{% endblock %}
{% block og_title %}Tags for: {{ requested_user }} – CourtListener.com{% endblock %}
{% block description %}CourtListener lets you tag and share legal information. View the tags for {{ requested_user }}.{% endblock %}
{% block og_description %}CourtListener lets you tag and share legal information. View the tags for {{ requested_user }}.{% endblock %}
{% block og_image %}{% get_full_host %}{{ STATIC_URL }}png/og-image-tag-300x300.png{% endblock %}


{% block sidebar %}{% endblock %}
{% block content %}
  <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
  <div class="col-xs-12 col-md-10 col-lg-8">
    {% if is_page_owner %}
      {% if tags %}
        <h1><i class="fa fa-tags gray"></i>&nbsp;Your tags</h1>
      {% else %}
        <div class="jumbotron text-center">
          <h1><i class="fa fa-tags gray"></i><i class="fa fa-warning gray"></i></h1>
          <h1>You do not have any tags</h1>
        </div>
      {% endif %}
    {% else %}
      {% if tags %}
        <h1><i class="fa fa-tags gray"></i>&nbsp;Tags for {{ requested_user }}</h1>
      {% else %}
        <div class="jumbotron text-center">
          <h1><i class="fa fa-tags gray"></i><i class="fa fa-warning gray"></i></h1>
          <h2>{{ requested_user }} has not shared any tags</h2>
        </div>
      {% endif %}
    {% endif %}
    {% for tag in tags %}
      {% if forloop.first %}
        <div class="table-responsive">
          <table class="table settings-table tablesorter-bootstrap">
            <thead>
            <tr>
              <th>Name</th>
              <th>Title</th>
              <th>Created</th>
              {% if is_page_owner %}
                <th>Views</th>
                <th colspan="2">Published</th>
              {% else %}
                <th colspan="2">Views</th>
              {% endif %}
            </tr>
            </thead>
            <tbody>
      {% endif %}

      {# Normal row #}
      <tr>
        <td><a href="{% url "view_tag" requested_user tag.name %}" class="black-link"><span class="tag">{{ tag.name }}</span></a></td>
        <td>{{ tag.title|default:"(none)" }}</td>
        <td>{{ tag.date_created|date:"M j, Y"|nbsp }}</td>
        <td>{{ tag.view_count }}</td>
        {% if is_page_owner %}
          <td>{{ tag.published|yesno|capfirst }}</td>
          <td><a href="" class="btn btn-primary btn-sm inline"><i class="fa fa-pencil"></i>&nbsp;Edit</a></td>
         {% endif %}
      </tr>
      {% if forloop.last %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
